{% extends  'base.html' %}

{% block title %}Auth{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Log in to your account</h4>
        <form method="post">
            {% csrf_token %}
            <label for="input_name">user</label>
            <input id="input_name" name="user" type="text">

            <label for="input_password">password</label>
            <input id="input_password" name="password" type="password">

            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
    </div>
</div>
{% endblock %}